@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .text-edge-outline {
    -webkit-text-stroke: 1px rgba(255,255,255,0.3);
  }
}

.line {
  width: 1px;
  height: 100%;
  background: linear-gradient(180deg, #333 0%, #555 50%, #333 100%);
  box-shadow: 10 0 10px rgb(0, 0, 0);
  filter: drop-shadow(10px 0 8px rgb(0, 0, 0));
}
